<div class="background-image">
    <div class="divCentre">
        <h1 class="h1Black">
            Professional Skills
        </h1>
        <br>
        <table class="table">
            <tr>
                <td colspan=2>
                    <h1>
                        .NET Framework
                    </h1>
                </td>
                <td colspan=4>
                    <h1>
                         C#.NET, LINQ, WPF, WCF, LINQ, NHibernate, Kafka, NUnit
                    </h1>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <h1>
                        Databases
                    </h1>
                </td>
                <td colspan=4>
                    <h1>
                        MS-SQL Server, My-SQL, Oracle SQL Developer
                    </h1>
                </td>
            </tr>
            <tr>
                <td colspan = 2>
                    <h1>
                        Tools
                    </h1>
                </td>
                <td colspan = 4>
                    <h1>
                        Visual Studio, NetBeansIDE, Jenkins, Octopus, Rabbit MQ, Git, Github
                    </h1>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div class="marquee">
        <ul class="marquee-content">
            <li>
                <h1 class="h1">
                    C#
                </h1>
            </li>
            <li>
                <h1 class="h1">
                    WCF
                </h1>
            </li>
            <li>
                <h1 class="h1">
                    WPF
                </h1>
            </li>
            <li>
                <h1 class="h1">
                    LINQ
                </h1>
            </li>
            <li>
                <h1 class="h1">
                    NHibernate
                </h1>
            </li>
            <li>
                <h1 class="h1">
                    Javascript
                </h1>
            </li>
            <li>
                <h1 class="h1">
                    PHP
                </h1>
            </li>
            <li>
                <h1 class="h1">
                    Kafka
                </h1>
            </li>
            <li>
                <h1 class="h1">
                    My-SQL
                </h1>
            </li>
            <li>
                <h1 class="h1">
                    Jenkins
                </h1>
            </li>
            <li>
                <h1 class="h1">
                    Octopus
                </h1>
            </li>
            <li>
                <h1 class="h1">
                    Rabbit MQ
                </h1>
            </li>
            <li>
                <h1 class="h1">
                    Github
                </h1>
            </li>
        </ul>
    </div>
</div>
