<div class="background-image">
     <div class="divCentre">
         <h1 class="h1Black">
                Contact Me
            </h1>
            <br>
        <table class="table">
            <tr>
                <td colspan=2>
                    <h2>
                        First Name:
                    </h2>
                </td>
                <td colspan=4>
                    <h3>
                        <input type="text" id="firstname" placeholder="First name..">
                    </h3>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <h2>
                        Last Name:
                    </h2>
                </td>
                <td colspan=4>
                    <h3>
                        <input type="text" id="lastname" placeholder="Last name..">
                    </h3>
                </td>
            </tr>
             <tr>
                <td colspan=2>
                    <h2>
                        Email:
                    </h2>
                </td>
                <td colspan=4>
                    <h3>
                        <input type="text" id="email" placeholder="Email ID..">
                    </h3>
                </td>
            </tr>
            <tr>
                <td colspan = 2>
                    <h2>
                        Purpose
                    </h2>
                </td>
                <td colspan = 4>
                    <h3>
                        <select id="purpose">
                            <option value="hiring">Hiring</option>
                            <option value="freelance">Freelance</option>
                            <option value="general">General</option>
                        </select>
                    </h3>
                </td>
            </tr>
            <tr>
                <td colspan = 2>
                    <h2>
                        Description
                    </h2>
                </td>
                <td colspan = 4>
                    <h3>
                        <textarea id="subject" placeholder="Describe the purpose"></textarea>
                    </h3>                
                </td>
            </tr>
            <tr>
                <td colspan = 2></td>
                <td colspan = 4>
                    <h3>
                        <input type="submit" value="Submit">
                    </h3>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
