<div class="background-image">
   <div class="divCentre">
      <h1 class= "h1Black">
          <img class= "img-profile" src= "../images/RajneeshKapoor.png">
                Rajneesh Kapoor
      </h1>
      <table>
        <td colspan=8>
                    <h3>
                      Software Professional having an inbuilt passion for coding 
                      and programming. I’m 26, have worked as a software engineer 
                      for a couple of companies in an agile team, mostly on c#.
                    </h3>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <h2 class= "h2-left">
                      * Web Applications
                    </h2>
                </td>
            </tr>
             <tr>
                <td colspan=2>
                    <h2 class= "h2-left">
                      * Desktop Applications
                    </h2>
                </td>
            </tr>
            <tr>
                <td colspan = 2>
                    <h2 class= "h2-left">
                      * Mobile Applications
                    </h2>
                </td>
            </tr>
            <tr>
                <td colspan = 2>
                    <h2 class= "h2-left">
                      * Designer
                    </h2>
                </td>
            </tr>
          </table>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
    </div>
</div>
