<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Morph Bootstrap Theme From bootswatch.com -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  <!-- Bootstrap 4 navbar from w3schools https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
  <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <div class="parentNavDiv">
  <nav class="navbar navbar-expand-sm bg-light">
  <!-- Links -->
  <div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/"><h4>Home</h4></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/About"><h4>About</h4></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Projects"><h4>Projects</h4></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Contact"><h4>Contact</h4></a>
    </li>
  </ul>
  </div>
    <div class="icons">
    <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="https://join.skype.com/invite/aysgpua0Lzf7">
        <img class="img-responsive flex-row-reverse" src="/images/SkypeIcon.png">
      </a>
    </li>
    <li class="nav-item">
       <a class="nav-link" href="https://www.facebook.com/rajneesh2627/">
        <img class="img-responsive" src="/images/FacebookIcon.png">
      </a>
    </li>
    <li class="nav-item">
       <a class="nav-link" href="https://github.com/RajneeshKapoorDA">
        <img class="img-responsive" src="/images/GithubIcon.png">
      </a>
    </li>
    <li class="nav-item">
       <a class="nav-link" href="https://linkedin.com/in/rajneesh-kapoor-906727110">
        <img class="img-responsive" src="/images/LinkedinIcon.png">
      </a>
    </li>
  </ul>
  </div>
  </nav>
  </div>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
