 <div class="background-image">
    <div class="divCentre">
        <h1 class="h1Black">
            Projects
        </h1>
        <br>
        <table class="table">
            <th>
                <h1>
                    DECLIC
                </h1>
            </th>
            <tr>
                <td colspan=8>
                    <h2>
                        DECLIC belongs to HR domain. The application covers the entire HR processes between the client and customer. Beginning from the recruitment process to the signing of contract, timesheet, invoice and pay. 
                    </h2>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <h1>
                        Roles
                    </h1>
                </td>
            </tr>
            <tr>
                <td colspan=8>
                    <h2>
                        •	Create and implement project plan and execution.
                        <br>
                        •	Programming, coding, debugging, testing and doing database management using different languages and tools.
                        <br>
                        •	Estimated work hours and tracked progress using Agile/Scrum methodology.
                        <br>
                </td>
            </tr>
        </table>
         <br>
         <table class="table">
            <th>
                <h1>
                    DALAS
                </h1>
            </th>
            <tr>
                <td colspan=8>
                    <h2>
                        DALAS belongs to Banking domain. The application covers the entire loan application process between the client and bank. Beginning from the qualification process to the capturing of customer data then to contract and finally to banking process for customer’s payout. 
                    </h2>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <h1>
                        Roles
                    </h1>
                </td>
            </tr>
            <tr>
                <td colspan=8>
                    <h2>
                        •	Technical KT’s for the new people joining the team.
                        <br>
                        •	Leading the team for the completion of bi-weekly sprint goals.
                        <br>
                        •	Delegate tasks and set project deadlines.
                        <br>
                </td>
            </tr>
        </table>
    </div>
</div>
